In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
groceries_df=pd.read_csv("Groceries_dataset.csv")
groceries_df

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [9]:
groceries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [13]:
groceries_df.describe()

       Member_number
count   38765.000000
mean     3003.641868
std      1153.611031
min      1000.000000
25%      2002.000000
50%      3005.000000
75%      4007.000000
max      5000.000000

In [15]:
groceries_df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [17]:
groceries_df.tail()

       Member_number        Date        itemDescription
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

In [21]:
groceries_df.isnull().sum()

Member_number      0
Date               0
itemDescription    0
dtype: int64

In [33]:
rules=association_rules(groceries,metric="lift",min_threshold=1.0)
rules

NameError: name 'association_rules' is not defined

In [37]:

groceries_itemsets = apriori(df, min_support=0.05, use_colnames=True)
print(groceries_itemsets)

NameError: name 'apriori' is not defined

In [43]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from aprori import apriori


from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

filename = '/Users/emitsch/Documents/Database 1.csv'

#loading the excel spreadsheet file with my database
dataset = pd.read_csv(filename, header = None)

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

ModuleNotFoundError: No module named 'aprori'